{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit subcategory {{ subcategory.name }}'s Details
        {% endblock %}
    </h1>
    <form method="post">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name"
                   value={{ subcategory.name }}
                   placeholder="Name">
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}